form {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

li {
  display: flex;
  /* gap: 50px; */
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

li button {
  height: fit-content;
}
